<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Realtime Hashtag Tracking</title>
    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='smootie.js') }}></script>
    <script type="text/javascript" charset="utf-8">
      function(createTimeline() {
          var chart = new SmoothieChart();
          chart.streamTo(document.getElementById("chart"), 500);

          var inbox = new WebSocket("ws://127.0.0.1:8000/hashtag");

          inbox.onmessage = function(message) {
            console.log(message.data);
          }
      }
    </script>
  </head>
  <body onload="createTimeline()">
    <canvas id="chart" width="800" height="300"></canvas>
  </body>
</html>
